<div class="w-slider" id="js_silder">
    <div class="silder">
        <div class="slider-main" id="slider_main">
            <div class="slider-main-imgs"><a href="javascript:;"><img src="./public/images/carouselJS1-6/bg1.jpg" alt=""></a></div>
            <div class="slider-main-imgs"><a href="javascript:;"><img src="./public/images/carouselJS1-6/bg2.jpg" alt=""></a></div>
            <div class="slider-main-imgs"><a href="javascript:;"><img src="./public/images/carouselJS1-6/bg3.jpg" alt=""></a></div>
            <div class="slider-main-imgs"><a href="javascript:;"><img src="./public/images/carouselJS1-6/bg4.jpg" alt=""></a></div>
            <div class="slider-main-imgs"><a href="javascript:;"><img src="./public/images/carouselJS1-6/bg5.jpg" alt=""></a></div>
            <div class="slider-main-imgs"><a href="javascript:;"><img src="./public/images/carouselJS1-6/bg6.jpg" alt=""></a></div>
        </div>
    </div>
    <div class="slider-ctrl" id="slider_ctrl">
        <span class="slider-ctrl-prev"></span>
        <span class="slider-ctrl-next"></span>
    </div>
</div>
<div id="floatNav" class="floatNav">
    <a href="javascript:;"><span>0</span>轮播图列表</a>
    <a href='#/Carousel'><span>1</span>3D轮播</a>
    <a href='#/Carousel2'><span>2</span>切割轮播</a>
    <a href='#/Carousel3'><span>3</span>无缝轮播</a>
    <a href='#/Carousel4'><span>4</span>旋转木马</a>
    <a href='#/Carousel5'><span>5</span>图片特效</a>
</div>