   <!-- canvas画布区域 -->
    <section class="clearfix web-decs container-fluid" id='webDecs'>
        <div class="row">
            <div class=" my-desc col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-0 col-xs-12  col-sm-12  ">
                <h2>SHOW MY <strong>PROJECTS</strong></h2>
                <p>I've done several porjects with the technologies displayed on navbar.</p>
                <p>Click the navbar to <strong>have a glance</strong>.</p>
                <p>The following page shows brief introduction to these projects.</p>
            </div>
        </div>
        <div class="my-canvas hidden-xs hidden-sm">
            <div id="container"></div>
        </div>
    </section>
    <!-- /canvas画布区域 -->
    <!-- 项目图片展示区 -->
    <section class="show-works">
        <div class="container">
            <div class="desc">
                
                    <h3 >
                        Here are all my works.
                    </h3>
                
                    <p>
                        I've done 6 small projects with CSS3,jQuery,ajax,canvas and AngularJS.
                    </p>
            </div>
            <!-- 这是第一个项目 -->
            <div class=" row info-show pro1">
                <div class="col-xs-10 col-xs-offset-1  col-md-4 col-md-offset-1">
                    <img src="./public/images/mainPage/flappy.jpg" alt="">
                </div>
                <div class="description col-xs-10 col-xs-offset-1  col-md-5 col-md-offset-1">
                    <h4>项目名:FlappyBird</h4>
                    <p>这是使用Canvas制作的小游戏。</p>
                    <p>使用了面向对象、seajs模块化开发，并在模块化开发中使用了工厂模式、单利模式、监听者模式。</p>
                    <p>在PC端和移动端均做了适配，可以通过点击界面，对小鸟的运动速度与角度进行调整。</p>
                    <p></p>
                </div>
            </div>
            <!-- 这是第二个项目 -->
            <div class=" row info-show pro2">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1">
                    <img src="./public/images/mainPage/changeScene.jpg" alt="">
                </div>
                <div class="description col-xs-10 col-xs-offset-1  col-md-5 col-md-offset-1">
                    <h4>项目名:场景切换动画</h4>
                    <p>这是使用canvas的konva.js库制作的场景切换动画。</p>
                    <p>每一个场景均是由多个对象封装而成。给各场景分别制作了一个入场动画，一个离场动画。进行场景切换的时候，均是当前场景执行离场动画后，马上执行下一个场景的入场动画。</p>
                    <p>在移动端和PC端都注册了触发场景切换的事件。移动端通过上下滑动界面，PC端通过鼠标的上下拖动</p>
                </div>
            </div>
            <!-- 这是第三个项目 -->
            <div class=" row info-show pro2">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1">
                    <img src="./public/images/mainPage/waterfall.jpg" alt="">
                </div>
                <div class="description col-xs-10 col-xs-offset-1  col-md-5 col-md-offset-1">
                    <h4>项目名:Ajax请求瀑布流页面</h4>
                    <p>通过触发页面的滚动事件发送Ajax请求图片数据。每次随机返回10张图片。
                    </p>
                </div>
            </div>
            <!-- 这是第四个项目 -->
             <div class=" row info-show pro2">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1">
                  
                    <img src="./public/images/mainPage/carousel1.jpg" alt="">
                </div>
                <div class="description col-xs-10 col-xs-offset-1  col-md-5 col-md-offset-1">
                    <h4>项目名:css3与js实现轮播图</h4>
                    <p>
                    这个项目共做了4个小例子。
                    其中2个轮播图是使用CSS3制作的，另外2个使用js制作。
                    </p>
                    <p>4个轮播图均做了移动端和pc的适配。</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /项目图片展示区 -->

<!-- 下面的代码写在这里，当这个页面作为模板的时候，script标签无法被识别 -->

   <!--  <script>
        console.log('没反应');
    </script>

     <script src="./public/libs/jquery.js"></script>
    <script src='./public/libs/konva.js'></script>
     <script src='./public/libs/sea.js'></script>
    <script>
    console.log(666);
        seajs.use('./scripts/ringScene/gameScene.js' , function(){
            console.log('已加载');
        });
    </script> -->